.content
{
    .mainContent{
        #authForms
        {
            .remindPasswordBtn,
            .loginBtn
            {
                color: #007bff;
                margin-left: 14px;
                display: block;
                margin-bottom: 10px;
                &:hover{
                    cursor: pointer;
                    color: #005cbf;
                }
            }
        }
        .loginForm,
        .remindForm{
            h2{
                margin-left: 15px;
            }
        }
    }
}