.content{
    .mainContent{
        .mainPhoto{
            padding-right: 0;
            flex-grow: 0;
            img{
                width: 40px;
                border-radius: 40px;
                margin-right: 10px;
            }
        }
        .name-col
        {
            a{
                position: absolute;
                top: 7px;
                left: 0;
            }
        }
        .activity-col
        {
            .activity-icon{
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                top: 18px;
                position: relative;
                &.offline-icon{
                    background: red;
                }
                &.online-icon{
                    background: green;
                }
            }
        }
    }
}