$color_lightBlue: #edf6ff;
$color_lightBlue2: #449eff;
$color_lightBlue3: #6ab1ff;
$color_lightBlue4: #cee6ff;
$color_lightGray1: #e6e6e6;
$color_lightGray2: #f7f7f7; 
.content{
    .mainContent{
        .addPostForm{
            margin-bottom: 10px;
            form{
                width: 100%;
            }
        }
        .postBox{
            margin-bottom: 20px;
            .post{
                padding: 10px;
                background: $color_lightGray2;
                border: 1px solid $color_lightGray1;
                border-radius: 10px;
                margin: 0;
                width: 100%;
                .header{
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid $color_lightGray1;
                    .data{
                        font-size: 14px;
                    }
                    .photo{
                        flex-basisc: 0;
                        flex-grow: 0;
                        padding-left:0;
                        .mainPhoto{
                            width: 40px;
                            border-radius: 40px;
                            margin-right: 10px;
                        }
                    }
                    .visibility{
                        text-align: right;
                    }
                }
                .message{
                    margin-bottom:10px;
                    border-bottom: 1px solid $color_lightGray1;
                    padding-bottom: 10px;
                }
                .action_btns{
                    .like_btn, .comments{
                        padding: 7px;
                        border-radius: 5px;
                        &:hover{
                            background: #e6e6e6;
                            cursor: pointer;
                        }
                        &:before{
                            padding-right: 8px;
                        }
                    }
                    .commentsBtnBox{
                        text-align: right;
                    }
                }
                .row{
                    width: 100%;
                    margin-left: 0;
                    margin-right:0;
                }
            }
            .commentsSection{
                margin: 0 20px;
                width: 100%;
                padding: 10px;
                background: #f7f7f7;
                border: 1px solid #e6e6e6;
                border-radius: 0 0 10px 10px;
                border-top: none;
                .commentForm{
                    margin: 0;
                    width: 100%;
                    .form-group{
                        width: 100%;
                    }
                    .row{
                        margin: 0;
                        .col{
                            padding: 0;
                        }
                    }
                }
                .comment{
                    margin: 0;
                    width: 100%;
                    .header{
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        width: 100%;
                        .data{
                            font-size: 14px;
                        }
                        .photo{
                            flex-basisc: 0;
                            flex-grow: 0;
                            padding-left:0;
                            .mainPhoto{
                                width: 40px;
                                border-radius: 40px;
                                margin-right: 10px;
                            }
                        }
                    }
                    .message{
                        margin-bottom:10px;
                        width: 100%;
                        border-bottom: 1px solid $color_lightGray1;
                        padding-bottom: 10px;
                    }
                }
            }
        }
        .loadMoreBtn{
            padding: 7px;
            border-radius: 5px;
            &:hover{
                background: #e6e6e6;
                cursor: pointer;
            }
        }
    }
}

