a{
    &:hover
    {
        text-decoration: none;
    }
}
.content
{
    width: calc(100% - 70px);
    margin-bottom: 20px;
    .mainContent{
        width: $mainContentWidth;
        margin: auto;
        margin-top: 50px;
        label{
            &.error{
                display: none;
            }
        }
        .has-error{
            input{
                border: 1px solid red;
            }
        }
    }
    .notifications{
        width: 300px;
        bottom: 0px;
        left: 0px;
        display: block;
        position: fixed;
        z-index: 5000;
        .notification-wrapper {
            display: block;
            overflow: hidden;
            width: 100%;
            margin: 0;
            padding: 0;
            transition-timing-function: initial;
            transition-delay: initial;
            transition-property: all;
            .notification {
                display: block;
                box-sizing: border-box;
                background: #fff;
                text-align: left;
                .notification-title {
                    font-weight: 600;
                }
            }
            .vue-notification {
                font-size: 12px;
                padding: 10px;
                margin: 0 5px 5px;
                color: #fff;
                background: #44a4fc;
                border-left: 5px solid #187fe7;
            }
            .success {
                background: #68cd86;
                border-left-color: #42a85f;
            }
            .warn {
                background: #ffb648;
                border-left-color: #f48a06;
            }
            .error {
                background: #e54d42;
                border-left-color: #b82e24;
            }
        }
    }
}
.hidden{
    display:none;
}
[v-cloak] {
  display: none;
}
