.mainTopBar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: $topBarWidth;
    height: 100%;
    background: $color_blue;
    overflow: hidden;
    transition: width 0.8s;
    -webkit-transition: width 0.8s;
    &:hover{
        width: $tobBarWidthHover;
    }
    a{
        color: $color_white;
    }
    .content{
        margin-top: $tobBarMenuLogoMargin;
        width: $tobBarWidthHover;
        .logo{
            margin-bottom: 15px;
            a{
                &:before{
                    margin-left: $tobBarMenuLogoMargin;
                    margin-right: $tobBarMenuLogoMargin;
                    font-size: $topBarMenuLogoIconSize;
                    color: $color_white;
                }
                span{
                    font-size: 35px;
                    position: relative;
                    top: -10px;
                    font-family: $topBarMenuFontFamily;
                }
                &:hover{
                    &:before{
                        color: $color_darkBlue2;
                    }
                    color: $color_white_light;
                }
            }
        }
        .userInterface{
            .profileLink{
                margin-bottom: 8px;
                span{
                    font-size: 25px;
                }
            }
            .mainPhoto
            {
                img{
                    width: 40px;
                    border-radius: 40px;
                    margin-left: 15px;
                    margin-right: 10px;
                }
            }
            a{
                &:before{
                    margin-left: $tobBarMenuElementMargin;
                    margin-right: $tobBarMenuElementMargin;
                    font-size: $topBarMenuElementIconSize;
                    color: $color_white;
                }
                span{
                    font-size: 16px;
                    position: relative;
                    top: -6px;
                    font-family: Hobo !important;
                }
                &:hover{
                    &:before{
                        color: $color_darkBlue2;
                    }
                    color: $color_white_light;
                }
            }
        }
    }
}