
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$topBarWidth: 70px;
$tobBarWidthHover: 250px;
$topBarMenuMargins: 5px;
$topBarMenuWidth: $topBarWidth - $topBarMenuMargins - $topBarMenuMargins;
$mainContentWidth: 1280px;
$color_blue: #007bff;
$color_darkBlue: #0082ad;
$color_darkBlue2: #004da0;
$color_darkBlue3: $color_darkBlue2;
$color_white: #ffffff;
$color_white_light: #eaeaea;
$topBarMenuLogoIconSize: 50px;
$tobBarMenuLogoMargin: ($topBarWidth - $topBarMenuLogoIconSize)/2;
$topBarMenuElementIconSize: 30px;
$tobBarMenuElementMargin: (($topBarWidth - $topBarMenuElementIconSize)/2)+2;
$topBarMenuFontFamily: Hobo !important;