
// Plugins
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "fonts";

// Variables
@import "variables";
@import "layout";
@import "auth";
@import "mainMenu";
@import "homePage";
@import "userProfile";
@import "settings";
@import "friendList";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
